<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
  <h1>Edit</h1>
  <div th:each = "goods : ${good}">
    <form th:action="@{'/goods/'+${goods.id}+'/edit'}" method="post">
      <input type="text" th:value="${goods.name}" name="name" placeholder="name" class="form-control"><br>
      <input type="text" th:value="${goods.brand}" name="brand" placeholder="brand" class="form-control"><br>
      <input type="number" th:value="${goods.price}" name="price" placeholder="price" class="form-control"><br>
      <input type="text" th:value="${goods.image}" name="image" placeholder="url" class="form-control"><br>
      <button type="submit" class="btn btn-success">Update</button>
    </form>
  </div>
</div>

<div th:insert="blocks/footer :: footer"></div>