<header th:insert="blocks/header :: header"></header>

<main>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div th:each = "goods : ${good}" class = "alert alert-dark mr-3">
            <img th:src="${goods.image}" width="150" height="160">
            <h3>Name: <span th:text="${goods.name}"/></h3>
            <p>Brand: <span th:text="${goods.brand}"/></p>
            <p>Price: <span th:text="${goods.price}"/> ₴</p>
            <span sec:authorize="hasAuthority('ADMIN')">
                <a th:href="'/goods/' + ${goods.id} + '/edit'" ><button class="btn btn-dark" type="submit" name="edit">edit</button></a>
                <form method="post" th:action="'/goods/' + ${goods.id} + '/remove'">
                    <button class="btn btn-danger" type="submit">remove</button>
                </form>
            </span>
        </div>
      </div>
    </div>
  </div>
</main>

<div th:insert="blocks/footer :: footer"></div>